html,
body {
    height: 100%;
    margin: 0;
    font-size: 16;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #666;
    line-height: 1.8em;
}

.pimg1 {
    background-image: url(images/image1.jpg);
    min-height: 100%;
}

.pimg2 {
    background-image: url(images/image2.jpg);
    min-height: 500px;
}

.pimg3 {
    background-image: url(images/image3.jpg);
    min-height: 500px;
}

.pimg4 {
    background-image: url(images/image4.jpg);
    min-height: 100%;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ptext {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 8px;
}

.textBg {
    background-color: #979292;
    border-radius: 6px;
    padding: 10px;
}

.section_light {
    padding: 20px;
    text-align: center;
    color: white;
    background-color: black;
}

h2 {
    text-transform: uppercase;
}

/* This is for second image or section. */

.ptext1 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 50px;
    /* font-weight: bold; */
    letter-spacing: 8px;
}

.textBg1 {
    background-color: #97929286;
    border-radius: 6px;
    padding: 10px;
}

.section_dark {
    padding: 20px;
    text-align: justify;
    color: white;
    background-color: #474444;
}

.section_dark h2 {
    text-align: center;
}


/* this is for section 3 or image three. */

.textBg2 {
    background-color: #0000008f;
    border-radius: 6px;
    padding: 10px;
}

.section_dark1 {
    padding: 20px;
    text-align: justify;
    color: white;
    background-color: #161616;
}

.section_dark1 h2 {
    text-align: center;
}

/* this is fourth image or fourth section. */
.textBg3 {
    background-color: #00000069;
    border-radius: 6px;
    padding: 10px;
}